/* universal styling */

html {
  font-size: 18px;
  font-family: Helvetica;
}

h5 {
  font-size: 1rem;
  font-weight: bold;
}


/* container styling */

.container {
  max-width: 960px;
  margin: auto;
}

.flex {
  display: flex;
}


/* header styling */

header {
  background-image: url(../imgs/glasses-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30rem;
  padding-top: 1rem;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.logo img {
  height: 1.5rem;
  padding-right: 1rem;
}

nav {
  padding: 1rem 0;
}

nav a {
  padding-right: 2rem;
}


/* header tag-line */

header .flex {
  justify-content: flex-end;
}

.tag-line {
  background-color: white;
  position: relative;
  top: 10rem;
  padding: 1.5rem 5rem;
  margin-right: -2rem;
}

.tag-line span {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}


/* sales styling */

.sales {
  justify-content: center;
}

.sale {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 3rem;
  width: 5rem;
  height: 8rem;
}

.sale img {
  width: 100%;
  height: auto;
  display: block;
}

#paper {
  width: 3.5rem;
}


/* about styling */
.about {
  justify-content: center;
  margin-bottom: 5rem;
}

.info {
  width: 35%;
  margin-right: 5%;
}

.info h5 {
  background-color: cadetblue;
  color: white;
  width: 10rem;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
}

/* footer styling */

footer {
  background-color: azure;
  padding: 4rem;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}


/* media query for 1024 to 470 */
@media only screen and (max-width 1024px){



}





















/* end css */
