/* universal styling */

html {
  font-size: 18px;
  font-family: Helvetica;
}

h5 {
  font-size: 1rem;
  font-weight: bold;
}


/* container styling */

.container {
  max-width: 960px;
  margin: auto;
}

.flex {
  display: flex;
}


/* header styling */

header {
  background-image: url(../imgs/glasses-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30rem;
  padding-top: 1rem;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  color: white;
  font-weight: lighter;
  padding: 1rem 0;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.logo img {
  height: 1.5rem;
  padding-right: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-basis: 15.9rem;
  flex-shrink: 2;
  margin-right: 2rem;
}

.mobile-nav {
  display: none;
}


/* header tag-line */

header .flex {
  justify-content: flex-end;
}

.tag-line {
  background-color: white;
  position: relative;
  top: 10rem;
  padding: 1.5rem 5rem;
  margin-right: -2rem;
}

.tag-line span {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}


/* sales styling */

.sales {
  justify-content: center;
}

.sale {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 3rem;
  width: 5rem;
  height: 8rem;
}

.sale img {
  width: 100%;
  height: auto;
  display: block;
}

#paper {
  width: 3.5rem;
}


/* about styling */
.about {
  justify-content: center;
  margin-bottom: 5rem;
}

.info {
  width: 35%;
  margin: 2.5%;
}

.info h5 {
  background-color: cadetblue;
  color: white;
  width: auto;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
}

/* footer styling */

footer {
  background-color: azure;
  padding: 4rem;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

/* mq for max 1040 */
@media only screen and (max-width: 1040px) {
  .tag-line {
    margin-right: -1rem;
  }
}

/* media query for 1024 to 470 */
@media only screen and (max-width: 1024px){

  /* container and header for medium screen */
  .container {
    max-width: 100%;
  }

  header {
    height: 22rem;
    padding-top: 0;
  }

  .tag-line {
    position: relative;
    top: 5rem;
    padding: 0.75rem 4rem;
    margin-right: 2rem;
  }

  .tag-line span {
    font-size: 1.33rem;
  }
}

/* media query for less than 630px */
@media only screen and (max-width: 630px) {
  header .logo span {
    display: none;
  }
}

/* media query for less than 570px */
@media only screen and (max-width: 470px) {

  /* header, nav and tag-line for small screen */
  header {
    background-position: 20%;
    height: 17rem;
  }

  .logo span {
    display: none;
  }

  .standard-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
    flex-basis: auto;
  }

  .tag-line {
    position: relative;
    top: 9rem;
    padding: 1rem 0;
    width: 100%;
    margin-right: 0;
    text-align: center;
  }

  .tag-line span {
    font-size: 1rem;
  }

  /* sales section for small screens */
  .sales {
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
  }

  .sale {
    margin: 0.77rem 0;
  }

  .sale span {
    font-size: 0.77rem;
  }

  /* about section for small screen */
  .about {
    flex-direction: column;
    margin-bottom: 0;
  }

  .info {
    width: 100%;
    margin: auto;
    margin-bottom: 4rem;
    font-size: 0.77rem;
  }

  .info h5 {
    width: auto;
    text-align: center;
  }

  .info p {
    padding: 0 0.5rem;
  }

  /* footer styling for small screens */
  footer .logo {
    justify-content: center;
    margin: auto;
  }

  footer .logo img {
    padding: 0;
  }

}





















/* end css */
